<div class="container">
    <div class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
        Tem certeza que deseja excluir a mensagem abaixo?
      </div>
    <div class="card">
        <div class="card-header">
        Excluir viagem
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Destino</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Data de chegada</th>
                    <th scope="col">Data de saída</th>
                    <th scope="col">Orçamento</th>
                    <th scope="col">Qtde. de pessoas</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">São Paulo</th>
                    <td>LAZER</td>
                    <td>18/06/2023</td>
                    <td>25/06/2023</td>
                    <td>R$4.000,00</td>
                    <td>4</td>
                    <td><a href="/listar" class="button btn btn-secondaryV">Voltar</a></td>
                    <td><a href="/excluir" class="button btn btn-secondaryE">Confirmar</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>