.btn-secondaryE{
    background-color: brown;
    color: #ffffff;
}
.btn-secondaryV{
    background-color: #007bff;
    color: #ffffff;
}
.aviso{
    margin: 10px 0px 10px 0px;
    background-color: #e4c060;
}
