<div class="container">
    <div class="card">
        <div class="card-header">
          Minhas viagens
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Destino</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Data de chegada</th>
                    <th scope="col">Data de saída</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">São Paulo</th>
                    <td>LAZER</td>
                    <td>18/06/2023</td>
                    <td>25/06/2023</td>
                    <td><a routerLink="/detalhar/" class="button btn btn-secondaryD">Detalhes</a></td>
                    <td><a routerLink="/excluir/" class="button btn btn-secondary">Excluir</a></td>
                  </tr>
                  <tr>
                    <th scope="row">Londres</th>
                    <td>LAZER</td>
                    <td>20/05/2023</td>
                    <td>20/06/2023</td>
                    <td><a routerLink="/detalhar/" class="button btn btn-secondaryD">Detalhes</a></td>
                    <td><a routerLink="/excluir" class="button btn btn-secondary">Excluir</a></td>
                  </tr>
                  <tr>
                    <th scope="row">Seoul</th>
                    <td>LAZER</td>
                    <td>20/05/2023</td>
                    <td>20/07/2023</td>
                    <td><a routerLink="/detalhar" class="button btn btn-secondaryD">Detalhes</a></td>
                    <td><a routerLink="/excluir" class="button btn btn-secondary">Excluir</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
      </div>
