<div class="container">
    <div class="card">
        <div class="card-header">
        Cadastro de viagens
        </div>
        <div class="card-body">
            <form [formGroup]="cadastroForm">
                <div class="mb-3">
                <label for="InputDestiny" class="form-label">Destino</label>
                <input type="text" class="form-control" id="InputDestiny" aria-describedby="DestinyHelp" formControlName="destino">
                </div>
                <div class="mb-3">
                <label for="InputType" class="form-label">Tipo</label>
                <input type="type" class="form-control" id="InputType" formControlName="tipo">
                </div>
                <div class="mb-3">
                    <label for="InputDateInitial" class="form-label">Data de chegada</label>
                    <input type="date" class="form-control" id="InputDateInitial" formControlName="dataC">
                </div>
                <div class="mb-3">
                    <label for="InputDateFinal" class="form-label">Data de saída</label>
                    <input type="date" class="form-control" id="InputDateFinal" formControlName="dataF">
                </div>
                <div class="mb-3">
                    <label for="InputOrcament" class="form-label">Orçamento</label>
                    <input type="text" class="form-control" id="InputOrcament" formControlName="orcam">
                </div>
                <div class="mb-3">
                    <label for="InputQtde" class="form-label">Qtde. de pessoas</label>
                    <input type="text" class="form-control" id="InputQtde" formControlName="qtde">
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>
</div>